.photo-grid__container{
    max-width: 1184px;
    margin: 0 auto 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 16px;
}
.photo-grid__item{
    width: 284px;
}