.places{
    max-width: 984px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    
}
.place{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 40px;
    border: 1px solid white;
}
.place__title{
  grid-row: 1;
    max-width: 460px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    border: 1px solid white;

}
.place__website{
    max-width: 456px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.place__url-heading{
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #AAAAAA;
    letter-spacing: 1.2px;
}
.place__artist{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}